*{
    box-sizing: border-box;
    /* border: .5px solid red ; */
}


body {
    background-color: lightslategray;
    color: white;
}


header {
    background-color: darkolivegreen ;
    display:flex;
    justify-content: space-around;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.game-body{
    display: flex;
    flex-direction: column;
    width: 66%;
}

.game-row{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
}

.game-square{
    width: 4rem;
    height: 4rem;
    border: .5px solid white;
    border-radius: 5%;
    box-shadow: .15rem .15rem lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}


.is-locked{
    color: lightgrey;
}


.is-locked .game-square{
    background-color: darkgray;
}

.is-locked .green {
    background-color: green;
}

.is-locked .yellow {
    background-color: yellow;
}


button {
    background-color: lightblue;
    width: 4rem;
    justify-self: center;
    align-self: center;
    margin-top: 60 px;
}

/* toggle classes whether div's letter is right or wrong */